<div class="card-list-container">
  <% posts.each do |post| %>
  <div class="card mb-5 shadow-lg">
    <canvas id="myLineChart-<%= post.id %>"></canvas>
    <script>
      var ctx = document.getElementById("myLineChart-<%= post.id %>");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [<%= post.user.posts.pluck(:date).map { |d| "'#{d.strftime('%Y-%m-%d')}'" }.join(",").html_safe %>],
          datasets: [
            {
              label: '体重',
              data: [<%= post.user.posts.pluck(:weight).join(",") %>],
              borderColor: "rgba(0,255,0,1)",
              backgroundColor: "rgba(0,0,0,0)",
              tension: 0.3
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '体重の推移'
          },
          responsive: true,
          scales: {
            y:{
              stacked: true
            },
            x:{
              stacked: true
            },
          },
        }
      });
    </script>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-3">
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.get_profile_image(60,60), class: "mt-4 rounded-circle"; %>
          <% end %>
        </div>
        <div class="col-md-10 col-9">
          <p class="card-title">
            <%= post.date %>
          </p>
          <p class="card-text"><%= post.text %></p>
          <span class="mr-2">
            <%= link_to user_path(post.user.id), class: "text-dark" do %>
              <i class="fa-solid fa-circle-user"></i> <%= post.user.name %>
            <% end %>
          </span>
          <span>|</span>
          <span class="mr-2 ml-2">
            <%= link_to post_path(post.id), class: "text-dark" do %>
              <i class="fa-regular fa-comments"></i> <%= post.post_comments.count %>
            <% end %>
          </span>
          <span>|</span>
          <span id="like_btn_<%= post.id %>", class="mr-2 ml-2">
            <% if current_user %>
              <%= render "public/likes/btn", post: post %>
            <% end %>
          </span>
          <span>|</span>
          <span class="ml-2">
            <%= link_to post_path(post.id), class: "text-dark" do %>
              <i class="fa-solid fa-circle-info"></i> 詳細
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
