<div class="cotainer">
  <div class="row d-flex justify-content-center">
    <h2 class="mt-3">
      投稿一覧
    </h2>
  </div>
  <div class="row d-flex justify-content-center">
    <% @posts.each do |post| %>
      <%= post.date %>
      <%= post.weight %>
      <%= post.step %>
      <%= post.food %>
      <%= post.text %>
    <% end %>
  </div>
</div>