<div class="cotainer">
  <div class="row">
    <h2 class="index">投稿一覧</h2>
    <% @posts.each do |post| %>
      <%= post.date %>
      <%= post.weight %>
      <%= post.step %>
      <%= post.food %>
      <%= post.text %>
      <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="fa">
      <% @posts.each do |post| %>
        <table class="table">
          <tr>
            <th>
              <% if post.user.profile_image.attached? %>
                <%= image_tag post.user.profile_image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
              </th>
              <td><%= post.user.name %></td>
            </tr>
          <tr><th>日付</th> <td><%= post.date %></td></tr>
          <tr><th>体重</th> <td><%= post.weight %>KG</td></tr>
          <tr><th>BMI</th> <td><%= @user.BMI %></td></tr>
          <tr><th>歩数</th> <td><%= post.step %>歩</td></tr>
          <tr><th>食事</th> <td><%= post.food %></td></tr>
          <tr><th>感想</th> <td><%= post.text %></td></tr>
        </table>
      <% end %>
    </div>
  </div>
</div>


