<div class="container">
  <div class="row d-flex justify-content-center mb-4">
    <%= render 'searches/search' %>
  </div>
  <div class="row d-flex justify-content-center">
    <p class="all-or-following mb-5"><u><%= link_to "全投稿", posts_path %></u>　|　<%= link_to "フォロー中", following_posts_path %> </p>
  </div>
  <div class="row">
    <div class="col-md-3 d-none d-md-block"></div>
    <div class="col-md-6 col-12">
      <div class="row d-flex justify-content-center">
        <%= render "indexwithgraph", posts: @posts %>
        <%= render 'layouts/scroll_top_btn' %>
      </div>
    </div>
    <div class="col-md-3 d-none d-md-block"></div>
  </div>
</div>