<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <h2 class="mt-3">投稿フォーム</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="form mt-3">
      <%= form_with model: @post do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.label :date, "日付" %></td>
              <td><%= f.date_field :date %></td>
            </tr>
            <tr>
              <td><%= f.label :weight, "体重" %></td>
              <td><%= f.text_field :weight%>キログラム</td>
            </tr>
            <tr>
              <td><%= f.label :step, "歩数" %></td>
              <td><%= f.text_field :step %>歩</td>
            </tr>
            <tr>
              <td><%= f.label :food, "食事内容" %></td>
              <td><%= f.select :food, Post.foods.keys.map { |key| [I18n.t("enums.post.food.#{key}"),key] }, selected: @post.food %></td>
            </tr>
            <tr>
              <td><%= f.label :text, "感想" %></td>
              <td><%= f.text_area :text %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit '投稿' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

