<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="mb-2">
      投稿詳細
    </h2>
  </div>
  <div class="row">
    <div class="col-md-3 d-none d-md-block"></div>
    <div class="col-md-6 col-12">
      <table class = "post-table table border">
        <tr>
          <th>
            <%= link_to user_path(@post.user.id) do %>
              <%= image_tag @post.user.get_profile_image(50,50) %>
            <% end %>
          </th>
          <td><big><%= @post.user.name %></big></td>
        </tr>
        <tr><th>日付</th> <td><%= @post.date %></td></tr>
        <tr><th>体重</th> <td><%= @post.weight %>kg</td></tr>
        <tr><th>BMI</th> <td><%= (@post.weight.to_i / (@post.user.height.to_i * @post.user.height.to_i * 0.0001)).round(2) %></td></tr>
        <tr><th>歩数</th> <td><%= @post.step %>歩</td></tr>
        <tr><th>食事内容</th> <td><%= @post.food_i18n %></td></tr>
        <tr><th>感想</th> <td><%= safe_join(@post.text.split("\n"),tag(:br)) %></td></tr>
        <% if current_user == @post.user %>
          <tr><th></th><td><%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %> <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td></tr>
        <% end %>
      </table>
      <div id="like_btn_<%= @post.id %>">
        <%= render "public/likes/btn", post: @post %>
      </div>
      
      <div id="comment_counter">
        <%= render "public/post_comments/counter", post: @post %>
      </div>
      <div id="comment_index">
        <%= render "public/post_comments/index", post: @post %>
      </div>
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>

    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="sticky">
        <%= render "public/users/bmi" %>
      </div>
    </div>
  </div>
</div>