<div class="container">
  <div class="row d-flex justify-content-center mb-3">
    <h2 class="mt-3">新規ユーザー登録</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.label :name, "ユーザー名" %></td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder =>"肉体改造君" %></td>
          </tr>
          <tr>
            <td><%= f.label :gender, "性別" %></td>
            <td><%= f.select :gender, User.genders.keys.map{ |key| [I18n.t("enums.user.gender.#{key}"),key] }, selected: @user.gender %></td>
          </tr>
          <tr>
            <td><%= f.label :height, "身長" %></td>
            <td><%= f.text_field :height, :placeholder =>"168.8" %>cm</td>
          </tr>
          <tr>
            <td><%= f.label :weight, "体重" %></td>
            <td><%= f.text_field :weight, :placeholder =>"70.2" %>kg</td>
          </tr>            
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autocomplete: "email", :placeholder => "kaizo@kaizomail.com" %></td>
          </tr>
          <tr>
            <td><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td><%= f.label :password_confirmation, "パスワード(確認用)" %></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </body>
      </table>
      <div class="mt-3 d-flex justify-content-center">
        <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="mt-3 row d-flex justify-content-center">
    <%= render "public/shared/links" %>
  </div>
</div>

