<div class="container">
<% if @model == "User" %>
  <div class="row d-flex justify-content-center">
    <h2 class="user result mb-3"> 名前に"<%= @word %>"を含むユーザーの検索結果</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-3"></div>
    <div class="col-6">
    <% @users.each do |user| %>
      <table class = "table border">
        <thead>
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th>ポスト数</th>
            <th>最新ポスト投稿日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(50,50) %></td>
            <td><%= user.name %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.posts.last&.created_at&.strftime('%Y/%m/%d') || '投稿なし' %></td>
            <td><%= link_to "詳細を見る", user_path(user.id) %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
    <div class="col-3"></div>
  </div>
<% else %>
  <div class="row">
    <h2 class="post result"> 感想に"<%= @word %>"を含むポストの検索結果</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <% @posts.each do |post| %>
      <table class = "table border">
        <tr>
          <th>
            <%= link_to user_path(post.user.id) do %>
              <% if post.user.profile_image.attached? %>
                <%= image_tag post.user.profile_image, size: "50x50" %>
              <% else %>
                <%= image_tag asset_path("no_image.jpg"), size: "50x50" %>
              <% end %>
            <% end %>
          </th>
          <td><big><%= post.user.name %></big></td>
        </tr>
        <tr><th>日付</th> <td><%= post.date %></td></tr>
        <tr><th>体重</th> <td><%= post.weight %>kg</td></tr>
        <tr><th>BMI</th> <td><%= (post.weight.to_i / (post.user.height.to_i * post.user.height.to_i * 0.0001)).round(2) %></td></tr>
        <tr><th>歩数</th> <td><%= post.step %>歩</td></tr>
        <tr><th>食事内容</th> <td><%= post.food_i18n %></td></tr>
        <tr><th>感想</th> <td><%= safe_join(post.text.split("\n"),tag(:br)) %></td></tr>
        <tr><th></th><td><%= link_to "詳細", post_path(post.id) %></td></tr>
      </table>
    <% end %>
  </div>
<% end %>
</div>