<div class="container">
  <div class="row">
    <h2 class="mb-4">ユーザー</h2>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <table class = "table border">
        <thead>
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th>ポスト数</th>
            <th>アカウント作成日</th>
            <th>最新ポスト投稿日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(50,50) %></td>
            <td><%= user.name %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
            <td><%= user.posts.last&.created_at&.strftime('%Y/%m/%d') || '投稿なし' %></td>
            <td><%= link_to "詳細を見る", admin_user_path(user.id) %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>