<table class = "table border">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー名</th>
      <th>ポスト数</th>
      <th>最新ポスト投稿日</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td><%= user.name %></td>
        <td><%= user.posts.count %></td>
        <td><%= user.posts.last&.created_at&.strftime('%Y/%m/%d') || '投稿なし' %></td>
        <td><%= link_to "詳細を見る", user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>