<div class="container">
  <div class="row d-flex justify-content-center">
    <table class = "table border">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image(100,100) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ユーザー名</td>
          <td style="white-space: nowrap;"><%= user.name %></td>
        </tr>
        <tr>
          <td>肉体改造前</td>
          <td><%= user.weight %>kg</td>
        </tr>
        <tr>
          <td scope="row" colspan="2"><u>目標</u> <br>
          <%= safe_join((user.goal.presence || "設定されていません").split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td scope="row" colspan="2"><u>自己紹介</u> <br>
          <%= safe_join((user.introduction || "入力されていません").split("\n"),tag(:br)) %></td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to following_user_path(user) do %>
              <p>フォロー<%= user.followings.count %></p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= link_to follower_user_path(user) do %>
              <p>フォロワー<%= user.followers.count %></p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-borderless">
      <% if current_user == user %>
        <tr>
          <td colspan="2"><%= link_to "プロフィール編集", edit_information_path(user.id), class: "btn btn-success" %></td>
        </tr>
        <tr>
          <td colspan="2"><%= link_to "退会", user_path(user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に退会しますか？" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>