<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= form_with model: @user do |f| %>
      <table class = "table table-borderless">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>目標</td>
            <td><%= f.text_area :goal, rows: '4', cols: '40' %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_area :introduction, rows: '5', cols: '40' %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>