<div class="container">
  <div class="row d-flex justify-content-center">
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラーが発生しました
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @user do |f| %>
        <div class="row mb-3">
          <div class="col-md-4">プロフィール画像</div>
          <div class="col-md-8"><%= f.file_field :profile_image, accept: "image/*" %></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">ユーザー名</div>
          <div class="col-md-8"><%= f.text_field :name, class:"form-control" %></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">目標</div>
          <div class="col-md-8"><%= f.text_area :goal, rows: '5', class: "form-control" %></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">自己紹介</div>
          <div class="col-md-8"><%= f.text_area :introduction, rows: '5', class: "form-control" %></div>
        </div>
        <div class="row text-center mb-3">
          <div class="col-md-12">
            <%= f.submit "編集", class: "btn btn-success mr-5" %>
            <%= link_to "退会", user_path(@user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に退会しますか？" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>