<div class="container">
  <div class="row">
    <h2 class="a">
      マイページ
    </h2>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="name">
        <%= post.user.name %>
      </div>
      <div class="date">
        <%= post.date %>
      </div>
      <div class="weight">
        <%= post.weight %>
      </div>
      <div class="step">
        <%= post.step %>
      </div>
      <div class="food">
        <%= post.food %>
      </div>
      <div class="text">
        <%= post.text %>
      </div>
    <% end %>
  </div>
</div>