<div class="container">
  <div class="row d-flex justify-content-center">
    <table class = "table table-borderless">
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, size: "150x150" %>
            <% else %>
              <%= image_tag 'no_image', size: "150x150" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>肉体改造前の体重</td>
          <td><%= @user.weight %></td>
        </tr>
        <tr>
          <td>自己紹介<td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>目標</td>
          <td><%= @user.goal %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "編集する", edit_information_path(@user.id) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>