<div class="container">
  <div class="row">
    <%= render "graph", user: @user %>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-md-3 d-none d-md-block">
      <div class="sticky">
        <a href="https://web-camp.io/" target="_blank" rel="noopener"><%= image_tag('ad2.jpg', width: "100%") %></a>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="row d-flex justify-content-center">
        <%= render 'profile', user: @user %>
        <%= render 'public/posts/index', posts: @posts %>
        <%= render 'layouts/scroll_top_btn' %>
      </div>
    </div>

    <div class="col-md-3 d-none d-md-block">
      <div class="sticky">
        <%= render 'bmi' %>
      </div>
    </div>

  </div>
</div>