<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <% if admin_signed_in? %>
      <%= link_to about_path do %>
        <%= image_tag "logo.jpg", size: "90x90" %>
      <% end %>
    <% elsif user_signed_in? %>
      <%= link_to about_path do %>
        <%= image_tag "logo.jpg", size: "90x90" %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag "logo.jpg", size: "90x90" %>
      <% end %>    
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to '投稿一覧', admin_posts_path, class: 'btn' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザー一覧', admin_users_path, class: 'btn' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, class: 'btn', method: :delete %>
          </li>

        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to posts_path, class: 'btn' do %>
              <i class="fa-solid fa-timeline"></i>タイムライン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, class: 'btn' do %>
              <i class="fa-solid fa-pen-to-square"></i>投稿する
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to mypage_path, class:"btn" do %>
              <i class="fa-solid fa-user"></i>マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to likes_user_path(current_user.id), class: 'btn' do %>
              <i class="fa-solid fa-heart"></i>いいね一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: 'btn', method: :delete, data: { turbo: false } do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
            <% end %>
          </li>
          
        <% else %>
          <li class="nav-item">
            <%= link_to about_path, class: 'btn' do %>
              <i class="fa-solid fa-link"></i>About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'btn' do %>
              <i class="fa-solid fa-right-to-bracket"></i>ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'btn' do %>
              <i class="fa-solid fa-user-plus"></i>新規登録
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>